<!DOCTYPE html>
<html lang = "eng">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device - width, initial-scale = 1.0">
        <meta http-equiv = "X-UA-Compatible" content = "ie = edge">
        <title>Player Index</title>
        <link rel="stylesheet" href="/style.css" type="text/css">
    </head>
    <body>
        <h1>Welcome to Pokemon App</h1>
        <nav>
            <a href = "/players/signup">Signup</a>
            <a href = "/players/login">Login</a>
        </nav>
    </body>
</html>