<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Poke Express</h1>

    <nav>
        <a href="/pokemon/new">Create a new Pokemon</a>
    </nav>
    <br/>
    <form action="/pokemon/fire/type" method="GET">
        <select name="type">
            <option selected value="all">All</option>
            <option value="fire">Fire</option>
            <option value="water">Water</option>
            <option value="grass">Grass</option>
        </select>
        <input type="submit" value="Filter"/>
    </form> 
    <ul>
        <% for(let i=0; i<pokemon.length; i++) { %>
            <li>
                <a href="/pokemon/<%=i%>"><%=pokemon[i].name%></a> 
            </li>
            <br/>
        <% } %>
    </ul>
</body>
</html>