<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/edit.css" />
</head>
<body>
    <form action="/pokemon" method="POST">
        <div>Name: <input type="text" name="name" /></div>
        <div>Type: <input type="text" name="type" /></div>
        <div>Img: <input type="text" name="img" /></div>
        <input type="submit" value="Create Pokemon" />
    </form>
</body>
</html>
