<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Pokemon Show Page</h1>
        The pokemon is named <%= poke.name %>. <br />
        Here is what it looks like: <br />
        <img src = <%= poke.img %>>
    </body>
</html>  